.vscode/
venv/
__pycache__/
Sociasphere1.png
Sociasphere2.png
Sociasphere3.png
SociaSphereLogo.png
2024-03-03 16-57-34.mp4
2024-03-03 16-58-15.mp4
2024-03-03 17-03-41.mp4
SociaSphereDemoVideo.mp4
background.mp3
