{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>You're Already Logged In!</h1>
{% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br/>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.username.errors }}
                <input type="text" class="form-control" name="username" placeholder="Enter Your Username" autocomplete="username" required>
            </div>
            <div class="mb-3">
                {{ form.password.errors }}
                <input type="password" class="form-control" name="password" placeholder="Enter Your Password" autocomplete="current-password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
{% endif %}

{% endblock %}
